# Python
__pycache__/
*.pyc

# WhiteFox generated artifacts
WhiteFox/slurm/output_tf
WhiteFox/logging/
WhiteFox/hf_cache/
WhiteFox/xilo_xla/artifacts/


# local secrets
WhiteFox/requirement/openai.key

# virtualenvs
WhiteFox/requirement/venv/
venv/
.venv/

# secrets
WhiteFox/requirement/openai.key

# venvs
WhiteFox/requirement/venv/
venv/
.venv/
